.mainouter{

position:absolute;

top:10%;

left:10%;

}

.box{

width:75px;

height:75px;

background-color:transparent;

position:absolute;

top:0px;

left:0px;

}

.b1{

border:2px solid red;

}

.b2{

border:2px solid blue;

transform:rotate(45deg);

}

.common{

width:100px;

height:100px;

position:absolute;

transition:2s;

}

.outer1{

top:0px;

left:120px;

}

.outer2{

top:120px;

left:opx;

}

.outer3{

top:120px;

left:120px;

}

.outer4{

top:120px;

left:240px;

}

.outer5{

top:240px;

left:120px;

}

body:hover .common{

transform:rotate(360deg);

}