.box{

width:100px;

height:100px;

background-color:red;

position:absolute;

transition:2s;

}

.circle{

width:50px;

height:50px;

border-radius:50px;

background-color:green;

position:absolute;

transition:2s;

}

.box1{

top:20px;

left:20px;

}

.box2{

top:320px;

left:140px;

}

.box3{

top:20px;

left:260px;

}

.box4{

top:320px;

left:380px;

}

.box5{

background-color:blue;

top:20px;

left:500px;

}

.box6{

background-color:blue;

top:320px;

left:620px;

}

.circle1{

top:320px;

left:25px;

}

.circle2{

top:-270px;

left:25px;

}

.circle3{

top:320px;

left:25px;

}

.circle4{

top:-270px;

left:25px;

}

.circle5{

top:320px;

left:25px;

}

.circle6{

top:-270px;

left:25px;

}

.box:hover .circle{

background-color:yellow;

top:25px;

}