.circleA{

background-color:purple;

height:75px;

width:75px;

border-radius:75px;

position:absolute;

}

.position1{

top:150px; 

Left:150px; 

}

.position2{

top:150px; 

Left:450px; 

}

.position3{

top:450px; 

Left:150px; 

}

.position4{

top:450px; 

Left:450px; 

}

.common{

background-color:purple;

height:50px;

width:50px;

border-radius:50px;

position:absolute;

transition:2s;

}

.circleA1{

top:-60px;

left:10px;

}

.circleA2{

top:-5px;

left:85px;

}

.circleA3{

top:60px;

left:70px;

}

.circleA4{

top:90px;

left:10px;

}

.circleA5{

top:60px;

left:-50px;

}

.circleA6{

top:-5px;

left:-55px;

}

.circleA:hover .common{

top:5px;

left:5px;

}

