.box{

width:100px;

height:100px;

position:relative;

display:inline-block;

}

.circle{

width:50px;

height:50px;

border-radius:50px;

position:absolute;

top:25px;

left:25px;

}

.color1{

background-color:lime;

}

.color2{

background-color:darkgreen;

}

.color1:hover{

background-color:blue;

}

.color2:hover{

background-color:red;

}