.box1{

width:100px;

height:100px;

background-image:linear-gradient(#2C5F2D, #97BC62);

position:absolute;

top:20px;

left:20px;

transition:3s;

}

.box2{

width:100px;

height:100px;

background-image:linear-gradient(#240750,yellow ,green);

position:absolute;

top:140px;

left:140px;

transition:3s;

}

.box3{

width:100px;

height:100px;

background-image:linear-gradient(#375E97, #FB6542, #FFBB00);

position:absolute;

bottom:140px;

left:260px;

transition:3s;

}

.box4{

width:50px;

height:50px;

background-image:linear-gradient(red ,orange,green,blue,yellow);

position:absolute;

top:160px;

left:40px;

transform:rotate(45deg);

transition:3s;

}

.box5{

width:100px;

height:100px;

background-image:linear-gradient(#735DA5, #D3C5E5);

position:absolute;

top:20px;

left:260px;

transition:3s;

}

.box6{

width:50px;

height:50px;

background-image:linear-gradient(#FB9AD1, #763626, #90AFC5);

position:absolute;

top:40px;

left:160px;

transition:3s;

transform:rotate(45deg);

}

.box7{

width:50px;

height:50px;

background-image:linear-gradient(#20948B, #6AB187);

position:absolute;

top:160px;

left:280px;

transition:3s;

transform:rotate(45deg);

}

.box8{

width:50px;

height:50px;

background-image:linear-gradient(blue,white);

position:absolute;

top:280px;

left:160px;

transition:3s;

transform:rotate(45deg);

}

.box9{

width:100px;

height:100px;

background-image:linear-gradient(#89ABE3, #EA738D);

position:absolute;

bottom:140px;

left:20px;

transition:3s;

}

.box1:hover{

height:300px;

}

.box2:hover{

transform:rotate(45deg);

}

.box3:hover{

height:300px;

}

.box4:hover{

width:400px;

}

.box5:hover{

width:400px;

}

body:hover .box6{

top:160px;

left:160px;

}

body:hover .box7{

top:160px;

left:160px;

}

body:hover .box8{

top:160px;

left:160px;

}

.box9:hover{

width:350px;

height:350px;

}