color1{

background-color:blue;   

}

.color2{

background-color:yellow;

}

.box{

width:100px;

height:100px;

position: relative;

}

.shape {

height:50px;

width:50px;

//border-radius:50px;

position:absolute;

top:25px;

left:25px;

}

.shape1{

border-top-left-radius:100px;

border-bottom-right-radius:100px;

}

.shape2{

border-top-right-radius:100px;

border-bottom-left-radius:100px;

}

.outer{

display:inline-block;

}

.color1:hover{

background-color:red;

}

.color2:hover{

background-color:green;

}

