.round1{

width:250px;

height:250px;

border-radius:250px;

border:2px solid black;

position:absolute;

top:50px;

left:50px;

transition:5s;

}

.round2{

width:190px;

height:190px;

border-radius:190px;

border:2px solid black;

position:absolute;

top:80px;

left:80px;

transition:5s;

}

.round3{

width:130px;

height:130px;

border-radius:130px;

border:2px solid black;

position:absolute;

top:110px;

left:110px;

transition:5s;

}

.round4{

width:60px;

height:60px;

border-radius:60px;

border:2px solid black;

position:absolute;

top:145px;

left:145px;

transition:5s;

}

.circle1{

width:25px;

height:25px;

border-radius:25px;

position:absolute;

background-image:linear-gradient(#38f9d7,#43e97b);

transition:5s;

}

.p1{

top:-10px;

left:110px;

}

.p2{

top:35px;

left:210px;

}

.p3{

top:125px;

left:235px;

}

.p4{

top:200px;

left:200px;

}

.p5{

top:235px;

left:110px;

}

.p6{

top:200px;

left:25px;

}

.p7{

top:125px;

left:-10px;

}

.p8{

top:35px;

left:15px;

}

.diamond1{

width:25px;

height:25px;

transform:rotate(45deg);

position:absolute;

background-image:linear-gradient(#fc00ff,#6713d2);

transition:5s;

}

.circle2{

width:25px;

height:25px;

border-radius:25px;

position:absolute;

background-image:linear-gradient(#f83600,#f9d423);

top:20px;

left:20px;

transition:5s;

}

.circle3{

width:25px;

height:25px;

border-radius:25px;

position:absolute;

top:80px;

left:110px;

background-image:linear-gradient(#ffb199,#ff0844);

transition:5s;

}

.diamond4{

width:30px;

height:30px;

transform:rotate(45deg);

position:absolute;

background-image:linear-gradient(#243949,#517fa4);

transition:5s;

top:25%;

left:25%;

}

.line1{

width:1px;

height:60px;

background-color:black;

position:absolute;

top:0%;

left:50%;

}

.line2{

width:60px;

height:1px;

background-color:black;

position:absolute;

top:50%;

left:0%;

}

.round5{

font-size:20px;

font-weight:bold;

color:white;

position:absolute;

top:165px;

left:165px;

}

body:hover .circle1{

border-radius:0px;

transform:rotate(45deg);

}

body:hover .diamond{

border-radius:25px;

}

body:hover .round1{

transform:rotate(-360deg);

}

body:hover .round2{

transform:rotate(410deg);

} 

body:hover .round3{

transform:rotate(360deg);

}

body:hover .round4{

transform:rotate(410deg);

}