.start{

width:450px;

height:30px;

background-color:lightgreen;

position:absolute;

top:0px;

text-align:center;

font-size:25px;

}

.finish{

width:450px;

height:60px;

background-color:brown;

position:absolute;

top:500px;

text-align:center;

font-size:45px;

color:white;

}

.line{

width: 85px;

height: 500px;

border-right: 5px dotted black;

display: inline-block;

}

.racer{

width:50px;

height:50px;

background-color:lightgrey;

border-radius:50px;

position:absolute;

top:32px;

}

.r1{

background-color:orange;

left:12px;

transition:2s;

}

.r2{

background-color:blue;

left:112px;

transition:1s;

}

.r3{

background-color:red;

left:210px;

transition:3s;

}

.r4{

background-color:yellow;

left:300px;

transition:5s;

}

.r5{

background-color:violet;

left:385;

transition:6s;

}

.outer:hover .racer{

top:500px;

}